html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "JosefinSans-VariableFont_wght";
  src: url("../font/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Micro5-Regular";
  src: url("../font/Micro5-Regular.ttf");
}

.header{
  position:absolute;
  background-color: rgb(197, 177, 216);
  display:block;
  top:-1px;
  left:-1px;
  width:110%;
  height:22%;
}

canvas {
  display: block;
  margin-top:1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
.logo{
  position:absolute;
  display:inline-block;
  color:red;
  width: 200px;
  left: 8px;
  top: 8px
}

.logo-title{
  position:absolute;
  left: 230px;
  top: 33px;
  display:inline-block;
  color:white;
  font-size: 60px;
  font-family: Micro5-Regular;
}

.sign-up{
  text-decoration:none;
  position:absolute;
  top:-31px;
  right:-15px;
}

a{
  text-decoration:none;
}



.sign-in{
  display:inline-block;
  background-color:red;
  width: 19%;
}

button{
  font-family: "JosefinSans-VariableFont_wght";
  color:rgb(255, 255, 255);
  background-color: black;
}

button:hover{
  background-color:rgb(183, 140, 211);
}

.main-buttons{
  margin-left:45%;
  display:inline-block;
}

.news{
  margin-left: 20%;
  margin-right: 20%;
  display:block;
  background-color: blue;
  height:100%
}

.button-link{
  text-decoration:none;
}

.login{
  position:absolute;
  display:inline-block;
  top:8px;
  right: 63px;
  font-family: "JosefinSans-VariableFont_wght";

}

.password{
  position:absolute;
  top:40px;
  right:10px;
  font-family: "JosefinSans-VariableFont_wght";

}